<table>
  <tr>
    <th>ID</th>
    <th>Fornavn</th>
    <th>Etternavn</th>
    <th>Adresse</th>
    <th>Postnummer</th>
    <th>Poststed</th>
    <th>E-post</th>
    <th>Fasttelefon</th>
    <th>Mobiltelefon</th>
  </tr>



<% @patients.each do |p| %>
<tr>
  <td><%= link_to p.id, :action => "show", :id => p.id %></td>
  <td><%= p.firstname %></td>
  <td><%= p.lastname %></td>
  <td><%= p.address %></td>
  <td><%= p.postnumber %></td>
  <td><%= p.postplace %></td>
  <td><%= p.email %></td>
  <td><%= p.telephone %></td>
  <td><%= p.mobilephone %></td>
</tr>
<% end %>

</table>

<%= link_to "Legg til ny pasient", :action => "new" %>