<div class="login">
  <p id="error"><%= @error_message %></p>
  <%= form_tag '/mobile/today', :method => :post, :controller => 'mobile' %>
    <p>Mobilnr</p>
    <%= text_field_tag 'appuser_number'%>
    <p>Passord</p>
    <%= password_field_tag 'appuser_hashed_password' %>
    <br/><br/> 
    <%= submit_tag 'Logg inn', :id => "log_in" %>
    </form>

</div>
