<div class="login">
  <%= form_for @appuser do |a| %>


  <%= a.label :employee %>
  <%= a.telephone_field :mobilephone %><br />

  <%= a.label :hashed_password %>:
  <%= a.password_field_tag :hashed_password %><br />
  
  <br />

  <%= a.submit %>
<% end %>

 </div>