<div class="login">
  <p id="error"><%= @error_message %></p>
  <%= form_tag '/mobile/do_login', :method => :post, :controller => 'mobile' %>
    <p>Mobilnr</p>
    <%= text_field_tag 'employee_number'%>
    <p>Passord</p>
    <%= password_field_tag 'employee_password' %>
    <br/><br/> 
    <%= submit_tag 'Logg inn', :id => "log_in" %>
    </form>

</div>

<% content_for :page_description do %>
  <p>Innloggingsside for ansatte. (Testbruker finner man i prosjektbeskrivelsen).</p>
<% end %>
