<div id="patients_to_visit" style="cursor: default">
  <img  id="patient_img" src="<%= image_path('gunnar.png') %>">
  <ul>
    <li id="patient_name"><%= "#{@patient.firstname} #{@patient.lastname}" %></li>
    <li id="patient_address"><%= "#{@patient.address}" %><br/>
        <%= "#{@patient.postnumber} #{@patient.postplace}" %></li>
  </ul>
  <img src="<%= image_path('more.png') %>" id="more_info" />
  <div id="extended_info">
    <ul>
      <li>Mobilnr: <%= @patient.mobilephone %></li>
      <li>Epost: <%= @patient.email %></li>
      <li>Sivilstatus: <%= @patient.marital_status %></li>
      <li>Gjennomsnittlig besøktid: <%= @patient.average_visit_time %> min.</li>
    </ul>
  </div>
</div>



<div id="To_do">
  <h2 class="title">To-Do liste</h2>
  <ul>
  <% @visit[0].tasks.each do |t| %>
      <li><%= check_box_tag 'task_box', 'false' ; %><span class="tasks" id="<%= t.id %>" ><%= t.task_template.name %></span>
        <li class="task_description" id="task_description<%= t.id %>"><%= t.task_template.description %></li></li>
  <% end %>
  </ul>
</div>

<div id="patient_log">
  <h2 class="title">Loggføring <img src="<%= image_path('more.png') %>" id="more_log" /></h2>
  <p class="temporary_info">Her vil det være en multiple-choice liste med forskjellige ting som skal loggføres.</p>
</div>

<div id="comments">
  <h2 class="title">Kommentarer <img src="<%= image_path('more.png') %>" id="more_comments" /></h2>
  <p class="temporary_info" id="comment_temp_info">Her kommer en liste med kommentarer andre ansatte skriver inn om denne pasienten.</p>
  <textarea id="comment_area" rows="4" cols="25" ></textarea>
  <button id="submit_comment">Legg inn</button>
</div>
