<div id="context_menu">
  <ul>
    <li><%= link_to "Kart over pasienter og sentere", :action => "map" %></li>
    <li><%= link_to "Dagens besok", :action => "today" %></li>
    <li><%= link_to "Besokslogg", :action => "log" %></li>
    <li><%= link_to "Beskrivelse", :action => "about" %></li>
    <% if session[:employee]%>
      <li><%= link_to "Logg ut", :action => "logout" %></li>
    <% end %>
  </ul>
</div><!-- end context_menu -->