<table>
  
<%= form_for(:employee, :url => "/site/do_login", :method => :post)  do |f| %>
  <tr>
    <td><%= f.label :mobilephone, 'Telefonnummer'%></td>
    <td><%= f.text_field :mobilephone%></td>
  </tr>
  <tr>
    <td><%= f.label :password, "Passord"%></td>
    <td><%= f.password_field :password %><br /></td>
  </tr>
  <tr>
    <td><%= f.submit "Logg inn!" %></td>
  </tr>
  
  <% end %>

</table>



