<table>
  <tr>
    <th>ID</th>
    <th>Navn</th>
    <th>Adresse</th>
    <th>Postnummer</th>
    <th>Poststed</th>
    <th>Telefon</th>
  </tr>



<% @workplaces.each do |w| %>
<tr>
  <td><%= link_to w.id, workplace_path %></td>
  <td><%= w.name %></td>
  <td><%= w.address %></td>
  <td><%= w.postnumber %></td>
  <td><%= w.postplace %></td>
  <td><%= w.telephone %></td>
</tr>
<% end %>

</table>
