<table>
<%= form_for @workplace, :url => "/workplace/create" do |w| %>
<tr>
  <td><%= w.label :name %>:</td>
  <td><%= w.text_field :name %></td>
</tr>

<tr>
  <td><%= w.label :address %>:</td>
  <td><%= w.text_field :address %></td>
</tr>

<tr>
  <td><%= w.label :postnumber %>:</td>
  <td><%= w.text_field :postnumber %></td>
</tr>

<tr>
  <td><%= w.label :postplace %>:</td>
  <td><%= w.text_field :postplace %></td>
</tr>

<tr>
  <td><%= w.label :telephone %>:</td>
  <td><%= w.text_field :telephone %></td>
</tr>
 
<tr>
  <td><%= w.submit %></td>
</tr> 

<% end %>
</table>