<table>
  <tr>
    <th>ID</th>
    <th>Navn</th>
    <th>Adresse</th>
    <th>Postnummer</th>
    <th>Poststed</th>
    <th>Telefon</th>
  </tr>
<tr>
  <td><%= @workplace.id%></td>
  <td><%= @workplace.name %></td>
  <td><%= @workplace.address %></td>
  <td><%= @workplace.postnumber %></td>
  <td><%= @workplace.postplace %></td>
  <td><%= @workplace.telephone %></td>
</tr>
</table>