<!DOCTYPE html>
<html>
<head>
  <title>HelseBackEnd</title>
  <%= stylesheet_link_tag    "backend", :media => "all" %>
  <%= javascript_include_tag "backend" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <header id="main_header">
    <div id="main_nav">
      <h1>HelseApp</h1>
      <ul>
        <li><%= link_to "Ansatte", :controller => "employee" %></li>
        <li><%= link_to "Pasienter", :controller => "patient" %></li>
        <li><%= link_to "Besok", :controller => "visit" %></li>
        <li><%= link_to "Oppgavemaler", :controller => "task_template" %></li>
      </ul>
    </div><!-- end main_nav -->
  </header>
  <div id="context_menu">
    &nbsp;
    <ul>
      <li><%= link_to "Legg til ny", :action => "new" %></li>
      <li><%= link_to "Vis", :action => "list" %></li>
      <li><%= link_to "Beskrivelse", :action => "about" %></li>
    </ul>
  </div><!-- end context_menu -->
  <div id="main_content">

  <%= yield %>
  
  </div> <!-- end main_content -->
  <p id="clear"></p>
  </div><!-- end wrapper -->
</body>
</html>
